:root {
    --primary-dark:  #272932;
    --primary-light:  #b9e3c6;
}

.container{
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/128/001/original/tiles.jpg?1717266459");
    background-repeat:no-repeat;
    background-position: center cover;

}
#nav-cont, .navbar{
    background: #272932;
}

.nav-link{
    color:#3b94a4;
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 26px;
}
.nav-link :hover{
    transform:  scale(1.25, 1.25);
}
#toggle-button{
    font-size: 30px;
    border: 1px dotted  #b9e3c6;
}
#toggle-button :hover{
    color: white;
}
.opening-box{
    display: flex;
    justify-content: center;
}

#main-box{
    background-color: var(--primary-dark);
    color: var(--primary-light);
    border: 2px groove white;
    box-shadow: -9px 8px 8px rgba(31, 30, 30, 0.2);
}
#opening-name{
    padding-bottom: 20px;
    font-family: "Old Standard TT", serif;
    font-weight: 700;
}
#badge-name{
    background-color: #3b94a4;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--primary-light);
    margin-top: 10px;
    padding: 15px;
    color: white;
    box-shadow: -5px 5px 8px rgba(202, 201, 201, 0.2);
}
.Typewriter_cursor{
    color: rgba(255, 255, 240, 0);
}
.card-text{
    font-family:"Mate", serif;;
}
.container-2{
    color: white;
}
.move{
   background-color: var(--primary-dark);
   display:relative;
   border-radius: 40px;
   justify-content:center;
   align-content: center;
   padding:25px;
   text-align: center;
     transform: rotate(-90deg);
     font-family: "Fredericka the Great", serif;
     letter-spacing: 1px;
   box-shadow: 0px 0px 63px 35px rgba(32, 34, 39, 0.384);

}
.about-content{
    font-size: 18px;
    color: var(--primary-dark);
    margin-top: .25em;
   margin-bottom: .25em;
}
.about-img{
    background-image: linear-gradient(90deg, rgba(227,227,235,0.9169054441260744) 11%, rgba(185,227,198,1) 80%, rgba(185,227,198,1) 85%);
    border-radius: 3em;
    display: flex;
    margin-top: 2.5em;
   margin-bottom: 2.5em;

}
.char{
     font-size: 32px;
     animation: an 3s ease-out 3 both;
     display: inline-block;
}
    @keyframes an{
        from{
      opacity: 0;
      transform: perspective(500px) translate3d(-100px, -90px, -20px) rotate3d(1, -1, 0, 95deg);
     }
     to
     {
      opacity: 2;
      transform: perspective(500px) translate3d(0, 0, 0);
}
 }
.tools{
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    font-family: "Fredericka the Great", serif;
    letter-spacing: 3px;
    color:white;
    text-decoration: underline;
    text-underline-offset: 5px;

 }
.wordCarousel {
    font-size: 42px;
    background-color: rgb(39, 41, 50, 0.7) ;
    font-weight: 100;
    color: var(--primary-dark);
    border-radius: 20px;
    margin: auto;
    div {
        overflow: hidden;
        position: relative;
        float: none;
        height: 85px;
        padding-top: 30px;
        margin-top: 60px;
       padding-bottom: 20px;
        li {
            font-family: "Mate", serif;
            color: #eee;
            font-weight: 700;
            height: 45px;
            margin-bottom: 45px;
            display: block;
            margin-right: 0.5em;
        }
    }
}
.flip2 { animation: flip2 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip5 { animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip6 { animation: flip6 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip7 { animation: flip6 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -180px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -360px; }
}

@keyframes flip5 {
    0% { margin-top: -450px; }
    5% { margin-top: -360px; }
    20% { margin-top: -360px; }
    25% { margin-top: -270px; }
    40% { margin-top: -270px; }
    45% { margin-top: -180px; }
    60% { margin-top: -180px; }
    65% { margin-top: -90px; }
    80% { margin-top: -90px; }
    85% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -450px; }
}
@keyframes flip6 {
    0% { margin-top: -450px; }
    5% { margin-top: -360px; }
    20% { margin-top: -360px; }
    25% { margin-top: -270px; }
    40% { margin-top: -270px; }
    45% { margin-top: -180px; }
    60% { margin-top: -180px; }
    65% { margin-top: -90px; }
    80% { margin-top: -90px; }
    85% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -450px; }
}
@keyframes flip7 {
    0% { margin-top: -450px; }
    5% { margin-top: -360px; }
    20% { margin-top: -360px; }
    25% { margin-top: -270px; }
    40% { margin-top: -270px; }
    45% { margin-top: -180px; }
    60% { margin-top: -180px; }
    65% { margin-top: -90px; }
    80% { margin-top: -90px; }
    85% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -450px; }
}

.contact-resume-grid{
    display: flex;
}
.great-img{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
}
.something-great{
    max-width: auto;
    border-radius: 30px;
    text-align: center;
}
.footer{
    text-align: center;
    font-size: 16px;
    font-family: "Mate", serif;
    font-weight: 500;
    letter-spacing: 2px;
          color: #b9e3c6;
          margin: 0 auto;
          margin-top: 20px;
}
.footer-back{
     background-image: linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
          );
          border-radius: 30px;
          background-position: center 200px;
          background-size: 400px;
          margin-left: 200px;
        margin-right: 200px;
}

.footer a{
    color: #b9e3c6;
    text-decoration: none;
}
.footer :hover {
    color: white;
}

.contact-email{
    max-width: 400px;
    background-color:rgb(185, 227, 198, 0.7);
    color:var(--primary-dark);
    border-radius: 20px;
    display: block;
    margin: 0 auto;

}
/* lights out page */

.dark-message{
    color:var(--primary-light);
    text-align: center;


}
.lights-button{
    font-size: 200px;
}

.container-fluid{
    background-color: rgb(12, 12, 12);
    width: 100%;
    height: 100%;
     overflow: hidden; /*FF fix*/
  height: 100%;
}
  .body-dark{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #1f1e1ef6;
}
.body-dark .on
{
background: radial-gradient(#b6b5b5,#000000);
}
.bulb
{
position: relative;
width: 80px;
height: 80px;
background: #555454;
border-radius: 50%;
z-index: 2;
}
.body-dark .bulb
{
background: #fff;
box-shadow: 0 0 50px #fff,
0 0 100px #fff,
0 0 150px #fff,
0 0 280px #fff,
0 0 250px #fff,
0 0 300px #fff,
0 0 350px #fff;
}
.bulb span:nth-child(1)
{
position: absolute;
top: -16px;
left: -4px;
display: block;
width: 30px;
height: 30px;
background: transparent;
transform: rotate(342deg);
border-bottom-right-radius: 40px;
box-shadow: 20px 20px 0 10px #444;
}
.body-dark .on .bulb span:nth-child(1)
{
box-shadow: 20px 20px 0 10px #fff;
}
.bulb span:nth-child(2)
{
position: absolute;
top: -16px;
right: -4px;
display: block;
width: 30px;
height: 30px;
background: transparent;
transform: rotate(17deg);
border-bottom-left-radius: 40px;
box-shadow: -20px 20px 0 10px #444;
}
.body-dark.on .bulb span:nth-child(2)
{
box-shadow: -20px 20px 5px 20px #fff;
}
.wire
{
position: relative;
left: calc(46%);
width: 4px;
height: 40vh;
background:linear-gradient(166deg,rgb(7, 7, 7, 0.4),rgba(0, 0, 0)) ;
z-index: 1;
box-shadow: -6px -80px 10px rgba(0, 0, 0, 0.9);
}
.switch
{
position: relative;
top: 40px;
left: 150px;
width: 80px;
height: 80px;
background: linear-gradient(#eee,#ccc,#eee);
border: 3px solid #000;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.switch .btn
{
position: relative;
width: 25px;
height: 40px;
background: linear-gradient(#777,#fff,#777);
border-radius: 6px;
border: 2px solid #000;
cursor: pointer;
}

.on .switch .btn::before
{
top: 15%;
}

/*small screens*/
@media (max-width: 575.98px) {
    .badge{
        font-size: 13px;
        display: block;
        width:85%;
    }
    main{
        background-size: 100vh;
    }
  
}
/* tablet*/
@media only screen and (max-width: 768px) {

    .container{
         background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/128/001/original/tiles.jpg?1717266459");
        background-size: cover;
        }

.wordCarousel{
    display: block;
    justify-content: center;
    width: 75%;
    font-size: 36px;
    padding-top: 10px;
    align-content: center;

}

#about-me{
    display: none;
}
.about-content{
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    text-wrap:wrap;
    padding: 10px;
    justify-content: center ;
}
.about-img{
    display:flex;
    margin-bottom: 20px;
}
.col-sm-0{
    display: none;
}
.tools{
    text-align: center;
    font-size: 42px;
    width:75%;
}
   .footer{
    position: relative;
    padding-bottom: 1em;

}
.pdf-resume{
    width: 760px;    
}

}

/*larger screen */
@media (min-width:992px){
    .navbar{
        justify-content: center;
    }
    .footer{
        padding-bottom: 4em;
    }
    .container{
         background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/128/001/original/tiles.jpg?1717266459");
        background-size: cover;
    }
    #about-me{
    display:block;
    position: relative;
     color: white;
     text-align: center;
     height: 150px;
     top: 30px;
    }
.move{
    text-wrap:wrap;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    height: auto;
}
.carousel{
    display:flex;
    justify-content:space-evenly;
    align-content: center;
}
.wordCarousel{
    padding: 10px;
    justify-items: center;
    text-align: center;
    width:auto;
    position: flex;
    justify-content: space-evenly;
}
.about-img{
    margin-top: 5em;
    padding: 1px;

}
.about-content{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    text-wrap:balance;
    padding: .5em;
}
.grid{
    justify-content: space-evenly;
}
.something-great{
    max-width: 800px;
}

}

/* Projects */
.project-header{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 1rem;
    font-family: 'Old Standard TT';
    margin-top:-20px;
    color: var(--primary-light);
}
main{
    background: var(--primary-dark);
    align-content: center;
    height: 80vw;
}
.footer-projects {
    color:var(--primary-light);
    text-align: center;
    font-size: 14px;
}
.footer-projects a{
    color:#3b94a4;
    font-weight: 500;
    text-decoration: none;
}
p {
    word-spacing: 3px;
    font-size: 18px;
    font-family: 'Mate';
}
p a{
    color:var(--primary-light);
}

