:root {
    --primary-dark:  #272932;
    --primary-light:  #b9e3c6;
}
.container-md{
    width: 100%;
}
.container-md{
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/128/001/original/tiles.jpg?1717266459");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-link{
    color:#3b94a4;
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 26px;
}
.nav-link :hover{
    transform:  scale(1.25, 1.25);
}
#toggle-button{
    font-size: 30px;
    border: 1px dotted  #b9e3c6;
}
#toggle-button :hover{
    color: white;
}
.opening-box{
    display: flex;
    justify-content: center;
     margin-bottom: 80px;

}
#main-box{
    background-color: var(--primary-dark);
    color: var(--primary-light);
    border: 2px groove white;
    box-shadow: -9px 8px 8px rgba(31, 30, 30, 0.2);
}
#opening-name{
    padding-bottom: 20px;
    font-family: "Old Standard TT", serif;
    font-weight: 700;
}
#badge-name{
    background-color: #3b94a4;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--primary-light);
    margin-top: 10px;
    padding: 15px;
    color: white;
    box-shadow: -5px 5px 8px rgba(202, 201, 201, 0.2);
}
.Typewriter_cursor{
    color: rgba(255, 255, 240, 0);
}
.card-text{
    font-family:"Mate", serif;;
}
.container-2{
    color: white;
}
.move{
   background-color: var(--primary-dark);
   margin-top:60px;
   display: block;
   border-radius: 40px;
   box-shadow: 0px 0px 63px 35px rgba(32, 34, 39, 0.384);
}
#about-me{
     padding:20px;
     transform: rotate(-90deg);
     font-family: "Fredericka the Great", serif;
     letter-spacing: 1px;
}
.char{
     font-size: 32px;
     animation: an 3s ease-out 3 both;
     display: inline-block;
}
    @keyframes an{
        from{
      opacity: 0;
      transform: perspective(500px) translate3d(-100px, -90px, -20px) rotate3d(1, -1, 0, 95deg);
     }
     to
     {
      opacity: 2;
      transform: perspective(500px) translate3d(0, 0, 0);
}
 }
 .about-content{
    font-family: "Mate", serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;

 }
 .tools{
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    font-family: "Fredericka the Great", serif;
    letter-spacing: 3px;
    color:white;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-top: 70px;
 }
.wordCarousel {
    font-size: 42px;
    background-color: rgb(39, 41, 50, 0.7) ;
    font-weight: 100;
    color: var(--primary-dark);
    border-radius: 20px;
    margin-right: 40px;
    margin-left: 40px;

    div {
        overflow: hidden;
        position: relative;
        float: none;
        height: 85px;
        padding-top: 30px;
        margin-top: 60px;
       padding-bottom: 20px;
        li {
            font-family: "Mate", serif;
            color: #eee;
            font-weight: 700;
            height: 45px;
            margin-bottom: 45px;
            display: block;
        }
    }
}
.flip2 { animation: flip2 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip5 { animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip6 { animation: flip6 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip7 { animation: flip6 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -180px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -360px; }
}

@keyframes flip5 {
    0% { margin-top: -450px; }
    5% { margin-top: -360px; }
    20% { margin-top: -360px; }
    25% { margin-top: -270px; }
    40% { margin-top: -270px; }
    45% { margin-top: -180px; }
    60% { margin-top: -180px; }
    65% { margin-top: -90px; }
    80% { margin-top: -90px; }
    85% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -450px; }
}
@keyframes flip6 {
    0% { margin-top: -450px; }
    5% { margin-top: -360px; }
    20% { margin-top: -360px; }
    25% { margin-top: -270px; }
    40% { margin-top: -270px; }
    45% { margin-top: -180px; }
    60% { margin-top: -180px; }
    65% { margin-top: -90px; }
    80% { margin-top: -90px; }
    85% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -450px; }
}
@keyframes flip7 {
    0% { margin-top: -450px; }
    5% { margin-top: -360px; }
    20% { margin-top: -360px; }
    25% { margin-top: -270px; }
    40% { margin-top: -270px; }
    45% { margin-top: -180px; }
    60% { margin-top: -180px; }
    65% { margin-top: -90px; }
    80% { margin-top: -90px; }
    85% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -450px; }
}


.great-img{
    margin-top: 80px;
    margin-bottom: 80px;

}
.something-great{
    max-width: 500px;
    border-radius: 30px;
    text-align: center;
}


.footer{
    text-align: center;
    font-size: 16px;
    font-family: "Mate", serif;
    font-weight: 500;
    letter-spacing: 2px;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
          );
          color: #b9e3c6;
          background-position: center 100px;
          margin-left: 300px;
          margin-right: 300px;
          border-radius: 30px;

}
.footer :hover {
    color: white;
    transform:  scale(1.25, 1.25);
}

.footer a{
    color: #b9e3c6;
    text-decoration: none;
}
@media screen and (max-width: 500px) {
  .footer {
    width: 400px;
  }
}
.dark-message{
    color:var(--primary-light);
    text-align: center;


}
.lights-button{
    font-size: 200px;
}
.container-fluid{
    background-color: rgb(19, 18, 18);
    width: 100%;
    height: 100%;
     overflow: hidden; /*FF fix*/
  height: 100%;
}
  .body-dark{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #222;
}
.body-dark .on
{
background: radial-gradient(#555,#111);
}
.bulb
{
position: relative;
width: 80px;
height: 80px;
background: #444;
border-radius: 50%;
z-index: 2;
}
.body-dark .bulb
{
background: #fff;
box-shadow: 0 0 50px #fff,
0 0 100px #fff,
0 0 150px #fff,
0 0 280px #fff,
0 0 250px #fff,
0 0 300px #fff,
0 0 350px #fff;
}
.bulb span:nth-child(1)
{
position: absolute;
top: -16px;
left: -4px;
display: block;
width: 30px;
height: 30px;
background: transparent;
transform: rotate(342deg);
border-bottom-right-radius: 40px;
box-shadow: 20px 20px 0 10px #444;
}
.body-dark .on .bulb span:nth-child(1)
{
box-shadow: 20px 20px 0 10px #fff;
}
.bulb span:nth-child(2)
{
position: absolute;
top: -16px;
right: -4px;
display: block;
width: 30px;
height: 30px;
background: transparent;
transform: rotate(17deg);
border-bottom-left-radius: 40px;
box-shadow: -20px 20px 0 10px #444;
}
.body-dark.on .bulb span:nth-child(2)
{
box-shadow: -20px 20px 0 10px #fff;
}
.wire
{
position: absolute;
left: calc(33% - 3px );
bottom: 50%;
width: 4px;
height: 60vh;
background: #000;
z-index: 1;
}
.switch
{
position: relative;
top: 20px;
left: 200px;
width: 80px;
height: 80px;
background: linear-gradient(#eee,#ccc,#eee);
border: 3px solid #000;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.switch .btn
{
position: relative;
width: 25px;
height: 40px;
background: linear-gradient(#777,#fff,#777);
border-radius: 6px;
border: 2px solid #000;
cursor: pointer;
}

.on .switch .btn::before
{
top: 15%;
}





